.main-body{
  height: 65.5vh;
  margin-top: 4%;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  max-width: 600px;
}

.errormessage{
  height: 2rem;
  background-color: rgba(34, 35, 58, 0.2);
  color: red;
  border: none;
  display: flex;
  align-items: center;

  padding-bottom: 1.5rem;
  padding-left: 1rem;
}