*{
    margin: 0;
    padding: 0;

}


.bg-body-tertiary .full-body{
    background-color: teal;
}


.navbar-brand {
    font: 4rem;
    margin-left: 5%;
}

.navbar .btn {
    justify-content: left;
    display: flex;
    margin-left: 10px;
}

/* .navbar{
    height: 6%;
} */


.islog{
    margin-left: 60%;
}


.no-dec{
    text-decoration: none;
}

.no-dec-1{
    text-decoration: none;
}

.heading{
    font-size: 1.6rem;
}



@media only screen and (max-width: 600px) and (min-width: 100px){
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
    }    
    .bg-body-tertiary{
        min-height: 1vh;
      }
      #navbarScroll{
        background-color: "black"
      }
}